<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/registros.css}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
    <div th:replace="~{analista/fragment_analista :: menu}"></div>
    <section th:replace="~{analista/fragment_analista :: sidebar(~{::content})}">

        <div class="home-content" th:fragment="content">

            <h1>Listado de Registros de Ítems</h1>
            <p>Datos obtenidos de la base de datos.</p>

            <!--Boton para agregar items-->
            <div class="add-button">
                <a th:href="@{/analista/registro/nuevo}" class="btn">Agregar Ítem</a>
            </div>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID Item</th>
                        <th>Nombre</th>
                        <th>Cant. Pintura</th>
                        <th>Lavado</th>
                        <th>Pintura</th>
                        <th>Horneo</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.numeroItem}"></td>
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.cantidadPintura}"></td>
                        <td th:text="${item.lavado}"></td>
                        <td th:text="${item.pintura}"></td>
                        <td th:text="${item.horneo}"></td>
                        <td th:text="${item.estado}"></td>
                        <td> <a href="" class="btn-calc">Calcular</a> </td>
                        <td> <a href="" class="btn-edit">Editar</a> </td>
                        <td> <a href="" class="btn-delete"> Eliminar </a> </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </section>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>